@mixin horizontal($horizontal-aligment) {
  //set default properties for left and right arrow
  align-items: center;
  background-color: $btn-color;
  display: flex;
  font-size: 64px;
  filter: opacity(65%);
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 5%;

  // checking parameter
  @if $horizontal-aligment == "left" {
    //set left
    left: 0;
  } @else {
    //set right
    right: 0;
  }
}
