$bg-color: rgb(110, 110, 110);
$height-slider: 80vh;
$width-slider: 100vw;

// slider border size and color
$slider-border-size: 5px;
$slider-border-color: rgb(50, 50, 50);

$sm: 576px; // >=
$md: 768px; // >=
$lg: 992px; // >=
$xl: 1200px; // >=
